.boards {
    display: flex;
}

.board-table {
    position: relative;
    border: 1px solid black;
    width: 90%;
    height: 90%;
    float: left;
    table-layout: fixed;
}

.board-th {
    border: 1px solid black;
    overflow: hidden;
}
  
.board-td {
    border: 1px solid black;
    overflow: hidden;
    width: 10%;
    position: relative;
}

.board-td:after {
    content: '';
    display: block;
    margin-top: 100%;
}

.board-td .content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.board-td-empty, ul.legend li span#empty {
    background-color: white;
}

.board-td-observers-only, ul.legend li span#observers-only {
    background-color: orange;
}

.board-td-contains-beacon, ul.legend li span#contains-beacon {
    background-color: blue;
}

.board-td-contains-wanted-beacon, ul.legend li span#contains-wanted-beacon {
    background-color: blueviolet;
}

ul.legend {
    list-style-type: none;
    padding-inline-start: 0px;
}

ul.legend li span {
    display: block;
    float: left;
    height: 16px;
    width: 30px;
    margin-right: 5px;
    border: 1px solid black;
}

.stats-table {
    border: 1px solid black;
    table-layout: fixed;
    margin-bottom: auto;
}

.stats-table tr:first-child {
    font-weight: bold;
}

.stats-table td:nth-child(even) {
    background-color: rgb(217, 227, 231);
}