.boards {
    display: flex;
}

.board-table {
    position: relative;
    border: 1px solid black;
    width: 90%;
    height: 90%;
    float: left;
    table-layout: fixed;
}

.board-th {
    border: 1px solid black;
    overflow: hidden;
}
  
.board-td {
    border: 1px solid black;
    overflow: hidden;
    width: 10%;
    position: relative;
}

.board-td:after {
    content: '';
    display: block;
    margin-top: 100%;
}

.board-td .content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.board-td-empty {
    background-color: white;
}

.board-td-observers-only {
    background-color: orange;
}

.board-td-contains-beacon {
    background-color: blue;
}

.board-td-contains-wanted-beacon {
    background-color: blueviolet;
}