<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <!-- Servlet Mapping. -->

    <servlet>
        <servlet-name>ReadHardCodedRealBoardStateServlet</servlet-name>
        <servlet-class>com.google.research.bleth.servlets.ReadHardCodedRealBoardStateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReadHardCodedRealBoardStateServlet</servlet-name>
        <url-pattern>/read-hard-coded-real-board-state</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>WriteHardCodedBoardStatesServlet</servlet-name>
        <servlet-class>com.google.research.bleth.servlets.WriteHardCodedBoardStatesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WriteHardCodedBoardStatesServlet</servlet-name>
        <url-pattern>/write-hard-coded-board-state</url-pattern>
    </servlet-mapping>

</web-app>
