<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <!-- Servlet Mapping. -->
    <servlet>
        <servlet-name>ReadBoardStateServlet</servlet-name>
        <servlet-class>com.google.research.bleth.servlets.ReadBoardStateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListStrategiesServlet</servlet-name>
        <servlet-class>com.google.research.bleth.servlets.ListStrategiesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewSimulationServlet</servlet-name>
        <servlet-class>com.google.research.bleth.servlets.NewSimulationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListSimulationsServlet</servlet-name>
        <servlet-class>com.google.research.bleth.servlets.ListSimulationsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadStatisticsServlet</servlet-name>
        <servlet-class>com.google.research.bleth.servlets.ReadStatisticsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ReadBoardStateServlet</servlet-name>
        <url-pattern>/read-board-state</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListStrategiesServlet</servlet-name>
        <url-pattern>/list-strategies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewSimulationServlet</servlet-name>
        <url-pattern>/new-simulation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListSimulationsServlet</servlet-name>
        <url-pattern>/list-simulations</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadStatisticsServlet</servlet-name>
        <url-pattern>/read-stats</url-pattern>
    </servlet-mapping>

</web-app>
